In [1]:
import pandas as pd
import numpy as np

In [2]:
data_path = '../Data/IMDB_Dataset_Cleaned.csv'
df = pd.read_csv(data_path)
#df = df.rename(columns={'movie_title.1' : 'movie_title'})
#df = df.drop_duplicates(subset='movie_title').dropna()
df.head()

,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,James Cameron,723,178,0,855.0,Joel David Moore,1000.0,760505847,"Action,Adventure,Fantasy,Sci-Fi",CCH Pounder,...,3054,English,USA,PG-13,237000000,2009,936.0,7.9,1.78,33000
1,Gore Verbinski,302,169,563,1000.0,Orlando Bloom,40000.0,309404152,"Action,Adventure,Fantasy",Johnny Depp,...,1238,English,USA,PG-13,300000000,2007,5000.0,7.1,2.35,0
2,Sam Mendes,602,148,0,161.0,Rory Kinnear,11000.0,200074175,"Action,Adventure,Thriller",Christoph Waltz,...,994,English,UK,PG-13,245000000,2015,393.0,6.8,2.35,85000
3,Christopher Nolan,813,164,22000,23000.0,Christian Bale,27000.0,448130642,"Action,Thriller",Tom Hardy,...,2701,English,USA,PG-13,250000000,2012,23000.0,8.5,2.35,164000
4,Andrew Stanton,462,132,475,530.0,Samantha Morton,640.0,73058679,"Action,Adventure,Sci-Fi",Daryl Sabara,...,738,English,USA,PG-13,263700000,2012,632.0,6.6,2.35,24000

In [3]:
df['genres'] = df['genres'].apply(lambda x: x.split(','))

In [4]:
unique = ['Action', 'Adventure', 'Fantasy', 'Sci-Fi', 'Thriller', 'Romance', 'Animation', 'Comedy',
          'Family', 'Musical', 'Mystery', 'Western', 'Drama', 'History', 'Sport', 'Crime', 'Horror',
          'War', 'Biography', 'Music', 'Documentary', 'Short', 'Film-Noir' 
         ]

for col in unique:
    df[col] = 0
    
df.head()

,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,...,History,Sport,Crime,Horror,War,Biography,Music,Documentary,Short,Film-Noir
0,James Cameron,723,178,0,855.0,Joel David Moore,1000.0,760505847,"[Action, Adventure, Fantasy, Sci-Fi]",CCH Pounder,...,0,0,0,0,0,0,0,0,0,0
1,Gore Verbinski,302,169,563,1000.0,Orlando Bloom,40000.0,309404152,"[Action, Adventure, Fantasy]",Johnny Depp,...,0,0,0,0,0,0,0,0,0,0
2,Sam Mendes,602,148,0,161.0,Rory Kinnear,11000.0,200074175,"[Action, Adventure, Thriller]",Christoph Waltz,...,0,0,0,0,0,0,0,0,0,0
3,Christopher Nolan,813,164,22000,23000.0,Christian Bale,27000.0,448130642,"[Action, Thriller]",Tom Hardy,...,0,0,0,0,0,0,0,0,0,0
4,Andrew Stanton,462,132,475,530.0,Samantha Morton,640.0,73058679,"[Action, Adventure, Sci-Fi]",Daryl Sabara,...,0,0,0,0,0,0,0,0,0,0

In [5]:
for idx in range(len(df)):
    genres = df.loc[idx, 'genres']
    for genre in genres:
        df.iloc[idx, genre] = 1

df = df.drop(['genres'], axis=1)
df[unique].head(20)

ValueError: Can only index by location with a [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array]

In [ ]:
df.to_csv('../Data/imdb_clean.csv')